---
layout: default
---

<!-- Custom CSS for page title -->
<style>
  .page__title {
    font-size: 2.5rem; /* Slightly smaller font size */
    font-weight: bold;
    color: #6b705c; /* Brand green color (muted olive) */
    text-align: left;
    margin: 20px auto; /* Center with respect to text below */
  }
</style>

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <!-- Page Title with Custom Styling -->
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>